

#container{
    width: 98%;
    height: auto;
    margin: auto;
    border: 1px solid rgb(92, 86, 86);
    
}
#header1{
    height:50px;
    background-color: #dfdfdb;
    margin-top: 0px;
    
    padding: 10px;
    
}
#upper_buttons{
    height:70px;
}
#raw_xml_button{
    float:right;
    width:150px;
    
}
#update_zip_button{
    float:left;
    width:300px;
    
}
.button1 {
    background-color: #12cad6;
    float: right;
    border-radius: 4px;
    padding: 10px 24px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px;
}
.button2 {
    background-color: #52de97;
    float: left;
    border-radius: 4px;
    padding: 10px 24px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin : 15px;
}
